.rhap_container {
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  margin: 0;
  background-color: #f9ff87;
  border: solid 2px #8168fe;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.rhap_main {
  width: 100%;
  height: 100%;
}

.rhap_play-status--paused,
.rhap_play-status--playing {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.22);
}

.rhap_button-clear {
  color: #8168fe;
  border-radius: 30px;
  padding: 0rem;
}

.rhap_time {
  display: none;
}

.rhap_progress-section {
  width: 100%;
  height: 5px;
  margin: 0.7rem 0 1.2rem 0;
}

.rhap_controls-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  height: 65px;
}

.rhap_main-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7px;
  width: 100%;
}

.rhap_additional-controls {
  display: none;
}

.rhap_volume-container {
  margin-top: 0.7rem;
  height: 100%;
}

.rhap_volume-controls {
  width: 100%;
  justify-content: center;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0;
}
